<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="from" value=""/>
		<add key="fromAddress" value=""/>
		<add key="host" value=""/>
		<add key="port" value=""/>
		<add key="userName" value=""/>
		<add key="password" value=""/>
		<add key="enableSsl" value=""/>
		<add key="recipient" value=""/>
	</appSettings>
</configuration>